/* this is the css file for index.html */
header div a{
    float: right;
}



p{
    color:grey;
    font-family:sans-serif;
    font-size:14pt;
    text-align: justify;
    text-justify: inter-word;
}