/* this is the css file for index.html */
.topnav{
    background-color: brown;
}

.topnav a{
    float: left;
    color:whitesmoke;
    padding-left: 50px;
}

.topnav a:hover {color:#b37a7f;}


p{
    color:grey;
    font-family:sans-serif;
    font-size:14pt;
    text-align: justify;
    text-justify: inter-word;
}